/*=======
AMARATH
=======*/

@font-face {
    font-family: 'amaranth';
    src: url('amarat/amaranth-bold-webfont.woff2') format('woff2'), url('amarat/amaranth-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-amarant {
    font-family: 'amaranth', sans-serif;
}

/*=============
ARIMA-MADURAI
=============*/

@font-face {
    font-family: 'arima-madurai';
    src: url('arima-madurai/arima-madurai-v5-latin-100.woff2') format('woff2'), url('arima-madurai/arima-madurai-v5-latin-100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'arima-madurai';
    src: url('arima-madurai/arima-madurai-v5-latin-200.woff2') format('woff2'), url('arima-madurai/arima-madurai-v5-latin-200.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'arima-madurai';
    src: url('arima-madurai/arima-madurai-v5-latin-300.woff2') format('woff2'), url('arima-madurai/arima-madurai-v5-latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'arima-madurai';
    src: url('arima-madurai/arima-madurai-v5-latin-500.woff2') format('woff2'), url('arima-madurai/arima-madurai-v5-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'arima-madurai';
    src: url('arima-madurai/arima-madurai-v5-latin-700.woff2') format('woff2'), url('arima-madurai/arima-madurai-v5-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'arima-madurai';
    src: url('arima-madurai/arima-madurai-v5-latin-800.woff2') format('woff2'), url('arima-madurai/arima-madurai-v5-latin-800.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'arima-madurai';
    src: url('arima-madurai/arima-madurai-v5-latin-900.woff2') format('woff2'), url('arima-madurai/arima-madurai-v5-latin-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'arima-madurai';
    src: url('arima-madurai/arima-madurai-v5-latin-regular.woff2') format('woff2'), url('arima-madurai/arima-madurai-v5-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-arima {
    font-family: 'arima-madurai', sans-serif;
}

/*=========
CATAMARAN
=========*/

@font-face {
    font-family: 'catamaran';
    src: url('catamaran/catamaran-v7-latin-100.woff2') format('woff2');
    src: url('catamaran/catamaran-v7-latin-100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'catamaran';
    src: url('catamaran/catamaran-v7-latin-200.woff2') format('woff2');
    src: url('catamaran/catamaran-v7-latin-200.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'catamaran';
    src: url('catamaran/catamaran-v7-latin-300.woff2') format('woff2');
    src: url('catamaran/catamaran-v7-latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'catamaran';
    src: url('catamaran/catamaran-v7-latin-500.woff2') format('woff2');
    src: url('catamaran/catamaran-v7-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'catamaran';
    src: url('catamaran/catamaran-v7-latin-600.woff2') format('woff2');
    src: url('catamaran/catamaran-v7-latin-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'catamaran';
    src: url('catamaran/catamaran-v7-latin-700.woff2') format('woff2');
    src: url('catamaran/catamaran-v7-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'catamaran';
    src: url('catamaran/catamaran-v7-latin-800.woff2') format('woff2');
    src: url('catamaran/catamaran-v7-latin-800.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'catamaran';
    src: url('catamaran/catamaran-v7-latin-900.woff2') format('woff2');
    src: url('catamaran/catamaran-v7-latin-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'catamaran';
    src: url('catamaran/catamaran-v7-latin-regular.woff2') format('woff2');
    src: url('catamaran/catamaran-v7-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-catamaran {
    font-family: 'catamaran', sans-serif;
}

/*=========
DE VALENCIA
=========*/

@font-face {
    font-family: 'de-valencia';
    src: url('de-valencia/de_valencia_beta-webfont.woff2') format('woff2'), url('de-valencia/de_valencia_beta-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-de-valencia {
    font-family: 'de-valencia', sans-serif;
}

/*=====
DENSIA
=====*/

@font-face {
    font-family: 'densia-sans';
    src: url('densiasans/densiasans-webfont.woff2') format('woff2'), url('densiasans/densiasans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-densia {
    font-family: 'densia-sans', sans-serif;
}

/*======
EMBLEM
======*/

@font-face {
    font-family: 'emblem';
    src: url('emblem/emblem-webfont.woff2') format('woff2'), url('emblem/emblem-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-emblem {
    font-family: 'emblem', sans-serif;
}

/*===============
HAETTENSHWEILER
===============*/

@font-face {
    font-family: 'haetten-schweiler';
    src: url('haetten-schweiler/haettenschweiler-webfont.woff2') format('woff2'), url('haetten-schweiler/haettenschweiler-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-haetten-schweiler {
    font-family: 'haetten-schweiler', sans-serif;
}

/*========
LEMONADA
========*/

@font-face {
    font-family: 'lemonada';
    src: url('lemonada/lemonada-v11-latin-300.woff2') format('woff2');
    src: url('lemonada/lemonada-v11-latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'lemonada';
    src: url('lemonada/lemonada-v11-latin-500.woff2') format('woff2');
    src: url('lemonada/lemonada-v11-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'lemonada';
    src: url('lemonada/lemonada-v11-latin-600.woff2') format('woff2');
    src: url('lemonada/lemonada-v11-latin-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'lemonada';
    src: url('lemonada/lemonada-v11-latin-700.woff2') format('woff2');
    src: url('lemonada/lemonada-v11-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'lemonada';
    src: url('lemonada/lemonada-v11-latin-regular.woff2') format('woff2');
    src: url('lemonada/lemonada-v11-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-lemonada {
    font-family: lemonada, sans-serif;
}

/*======
 LOBSTER 
 ======*/

@font-face {
    font-family: 'lobster';
    src: url('lobster/lobster-v22-latin-regular.woff2') format('woff2');
    src: url('lobster/lobster-v22-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-lobster {
    font-family: lobster, sans-serif;
    font-weight: normal;
    font-style: normal;
}

/*=======
MONOTON
========*/

@font-face {
    font-family: 'monoton';
    src: url('monoton/monoton-v9-latin-regular.woff2') format('woff2');
    src: url('monoton/monoton-v9-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-monoton {
    font-family: monoton, sans-serif;
    font-weight: normal;
    font-style: normal;
}

/*==========
MONTSERRAT
==========*/

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-latin-100.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-latin-100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-latin-100italic.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-latin-100italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-latin-200.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-latin-200.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-latin-200italic.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-latin-200italic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-latin-300.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-latin-300italic.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-latin-300italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-latin-500.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-latin-500italic.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-latin-500italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-latin-600.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-latin-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-latin-600italic.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-latin-600italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-latin-700.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-latin-700italic.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-latin-700italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-latin-800.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-latin-800.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-latin-800italic.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-latin-800italic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-latin-900.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-latin-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-latin-900italic.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-latin-900italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-latin-italic.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-latin-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat/montserrat-v14-regular.woff2') format('woff2');
    src: url('montserrat/montserrat-v14-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-montserrat {
    font-family: 'montserrat', sans-serif;
}

/*=====
 NUNITO
 =====*/

@font-face {
    font-family: 'nunito';
    src: url('nunito/nunito-v13-latin-200.woff2') format('woff2');
    src: url('nunito/nunito-v13-latin-200.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'nunito';
    src: url('nunito/nunito-v13-latin-200italic.woff2') format('woff2');
    src: url('nunito/nunito-v13-latin-200italic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'nunito';
    src: url('nunito/nunito-v13-latin-300.woff2') format('woff2');
    src: url('nunito/nunito-v13-latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'nunito';
    src: url('nunito/nunito-v13-latin-300italic.woff2') format('woff2');
    src: url('nunito/nunito-v13-latin-300italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'nunito';
    src: url('nunito/nunito-v13-latin-600.woff2') format('woff2');
    src: url('nunito/nunito-v13-latin-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'nunito';
    src: url('nunito/nunito-v13-latin-600italic.woff2') format('woff2');
    src: url('nunito/nunito-v13-latin-600italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'nunito';
    src: url('nunito/nunito-v13-latin-700.woff2') format('woff2');
    src: url('nunito/nunito-v13-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'nunito';
    src: url('nunito/nunito-v13-latin-700italic.woff2') format('woff2');
    src: url('nunito/nunito-v13-latin-700italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'nunito';
    src: url('nunito/nunito-v13-latin-800.woff2') format('woff2');
    src: url('nunito/nunito-v13-latin-800.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'nunito';
    src: url('nunito/nunito-v13-latin-800italic.woff2') format('woff2');
    src: url('nunito/nunito-v13-latin-800italic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'nunito';
    src: url('nunito/nunito-v13-latin-900.woff2') format('woff2');
    src: url('nunito/nunito-v13-latin-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'nunito';
    src: url('nunito/nunito-v13-latin-900italic.woff2') format('woff2');
    src: url('nunito/nunito-v13-latin-900italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'nunito';
    src: url('nunito/nunito-v13-latin-italic.woff2') format('woff2');
    src: url('nunito/nunito-v13-latin-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'nunito';
    src: url('nunito/nunito-v13-latin-regular.woff2') format('woff2');
    src: url('nunito/nunito-v13-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-nunito {
    font-family: 'nunito', sans-serif;
}

/*=====
OPTIMA
=====*/

@font-face {
    font-family: 'optima';
    src: url('optima/optima.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'optima';
    src: url('optima/optima_Italic.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'optima';
    src: url('optima/optima_medium.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'optima';
    src: url('optima/optimo_b.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

.font-optima {
    font-family: 'optima', sans-serif;
}

/*======
 OSWALD
 ======*/

@font-face {
    font-family: 'oswald';
    src: url('oswald/oswald-v35-latin-200.woff2') format('woff2');
    src: url('oswald/oswald-v35-latin-200.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'oswald';
    src: url('oswald/oswald-v35-latin-300.woff2') format('woff2');
    src: url('oswald/oswald-v35-latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'oswald';
    src: url('oswald/oswald-v35-latin-500.woff2') format('woff2');
    src: url('oswald/oswald-v35-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'oswald';
    src: url('oswald/oswald-v35-latin-600.woff2') format('woff2');
    src: url('oswald/oswald-v35-latin-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'oswald';
    src: url('oswald/oswald-v35-latin-700.woff2') format('woff2');
    src: url('oswald/oswald-v35-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'oswald';
    src: url('oswald/oswald-v35-latin-regular.woff2') format('woff2');
    src: url('oswald/oswald-v35-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-oswald {
    font-family: 'oswald', sans-serif;
}

/* ===============
PERMANENT MAKER
=============== */

@font-face {
    font-family: 'permanent-maker';
    src: url('permanent-marker/permanent-marker-v9-latin-regular.woff2') format('woff2'), url('permanent-marker/permanent-marker-v9-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-permanent-maker {
    font-family: 'permanent-maker', sans-serif;
}

/*====
RESTU
====*/

@font-face {
    font-family: 'restu';
    src: url('restu/restu_bundah-webfont.woff2') format('woff2'), url('restu/restu_bundah-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-restu {
    font-family: 'restu', sans-serif;
}

/*======
ROBOTO
======*/

@font-face {
    font-family: 'roboto';
    src: url('roboto/roboto-v20-latin-100.woff2') format('woff2');
    src: url('roboto/roboto-v20-latin-100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('roboto/roboto-v20-latin-100italic.woff2') format('woff2');
    src: url('roboto/roboto-v20-latin-100italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('roboto/roboto-v20-latin-300.woff2') format('woff2');
    src: url('roboto/roboto-v20-latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('roboto/roboto-v20-latin-300italic.woff2') format('woff2');
    src: url('roboto/roboto-v20-latin-300italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('roboto/roboto-v20-latin-500.woff2') format('woff2');
    src: url('roboto/roboto-v20-latin-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('roboto/roboto-v20-latin-500italic.woff2') format('woff2');
    src: url('roboto/roboto-v20-latin-500italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('roboto/roboto-v20-latin-700.woff2') format('woff2');
    src: url('roboto/roboto-v20-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('roboto/roboto-v20-latin-700italic.woff2') format('woff2');
    src: url('roboto/roboto-v20-latin-700italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('roboto/roboto-v20-latin-900.woff2') format('woff2');
    src: url('roboto/roboto-v20-latin-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('roboto/roboto-v20-latin-900italic.woff2') format('woff2');
    src: url('roboto/roboto-v20-latin-900italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('roboto/roboto-v20-latin-italic.woff2') format('woff2');
    src: url('roboto/roboto-v20-latin-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('roboto/roboto-v20-latin-regular.woff2') format('woff2');
    src: url('roboto/roboto-v20-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-roboto {
    font-family: 'roboto', sans-serif;
}

/*===========
SAMBLE TRACIE
===========*/

@font-face {
    font-family: 'samble-tracie';
    src: url('samble-tracie/Samble Tracie.woff2') format('woff2'), url('samble-tracie/Samble Tracie.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'samble-tracie';
    src: url('samble-tracie/Samble Tracie Bold.woff2') format('woff2'), url('samble-tracie/Samble Tracie Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-samble-tracie {
    font-family: 'samble-tracie', sans-serif;
}

/*================
Samble-tracie-swasch
================*/

@font-face {
    font-family: 'samble-tracie-swash';
    src: url('samble-tracie/Samble Tracie_Swash.woff2') format('woff2'), url('samble-tracie/Samble Tracie_Swash.woff') format('woff'); font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'samble-tracie-swash';
    src: url('samble-tracie/Samble Tracie_Swash Bold.woff2') format('woff2'), url('samble-tracie/Samble Tracie_Swash Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-samble-tracie-swash {
    font-family: 'samble-tracie-swash', sans-serif;
}

/*===========
FAT WANDALS
===========*/

@font-face {
    font-family: 'fat-wandals';
    src: url('spoken/fatwandals_personal-webfont.woff2') format('woff2'), url('spoken/fatwandals_personal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-fat-wandals {
    font-family: 'fat-wandals', sans-serif;
}

/*=====
SPOKEN
=====*/

@font-face {
    font-family: 'spoken';
    src: url('spoken/spoken_personal-webfont.woff2') format('woff2'), url('spoken/spoken_personal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'spoken';
    src: url('spoken/spokenbg_personal-webfont.woff2') format('woff2'), url('spoken/spokenbg_personal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'spoken';
    src: url('spoken/spokenplain_personal-webfont.woff2') format('woff2'), url('spoken/spokenplain_personal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-spoken {
    font-family: 'spoken', sans-serif;
}

/*===========
TRANSFORMER
============*/

@font-face {
    font-family: 'robofan-symbols';
    src: url('transformer/robofan_symbol.woff2') format('woff2'), url('transformer/robofan_symbol.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-robofan-symbols {
    font-family: 'robofan-symbols', sans-serif;
}

@font-face {
    font-family: 'transformers';
    src: url('transformer/transformers_movie.woff2') format('woff2'), url('transformer/transformers_movie.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-transformers {
    font-family: 'transformers', sans-serif;
}

/* =====
VARELA
===== */

@font-face {
    font-family: 'varela';
    src: url('varela/varela-round-v12-latin-regular.woff2') format('woff2'), url('varela/varela-round-v12-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-varela {
    font-family: 'varela', sans-serif;
}